<div class="modal modal-open">
  <div class="modal-box scrollbar-none">
    <h3 class="font-bold text-lg">{{ title }}</h3>
    <div class="py-4 space-y-4 w-full">
      <div class="flex items-center justify-between">
        <label class="label text-sm">Theme</label>
        <div class="dropdown dropdown-end">
          <div tabindex="0" role="button" class="btn btn-sm bg-base-100">
            {{ theme }}
            <svg
              width="12px"
              height="12px"
              class="inline-block h-2 w-2 fill-current opacity-60"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 2048 2048"
            >
              <path
                d="M1799 349l242 241-1017 1017L7 590l242-241 775 775 775-775z"
              ></path>
            </svg>
          </div>
          <ul
            tabindex="0"
            class="dropdown-content rounded-box w-24 p-2 shadow-2xl bg-base-100"
          >
            <li *ngFor="let t of themes">
              <input
                type="radio"
                name="theme-dropdown"
                class="theme-controller w-full btn btn-sm btn-block btn-ghost justify-start"
                [class.btn-active]="theme === t"
                [attr.aria-label]="t"
                [value]="t"
                (change)="theme = t"
              />
            </li>
          </ul>
        </div>
      </div>
      <div class="flex items-center justify-between">
        <label class="label text-sm">Bookmark display column</label>
        <input
          type="number"
          [min]="columnsMin"
          [max]="columnsMax"
          [(ngModel)]="bookmarkDisplayColumn"
          class="input input-sm w-1/10"
        />
      </div>
      <div class="flex items-center justify-between">
        <label class="label text-sm">Bookmark display gap</label>
        <input
          type="number"
          [min]="gapMin"
          [max]="gapMax"
          [(ngModel)]="bookmarkDisplayGap"
          class="input input-sm w-1/10"
        />
      </div>
      <div class="flex items-center justify-between">
        <label class="label text-sm">Bookmark display row height</label>
        <input
          type="number"
          [min]="rowHeightMin"
          [max]="rowHeightMax"
          [(ngModel)]="bookmarkDisplayRowHeight"
          class="input input-sm w-1/10"
        />
      </div>
      <div class="flex items-center justify-between">
        <label class="label text-sm">Click open bookmark in current tab</label>
        <input
          type="checkbox"
          [(ngModel)]="bookmarkClickOpenInCurrentTab"
          class="toggle toggle-sm"
        />
      </div>
      <div class="flex items-center justify-between">
        <label class="label text-sm">Drag open bookmark in background</label>
        <input
          type="checkbox"
          [(ngModel)]="bookmarkDragOpenInBackground"
          class="toggle toggle-sm"
        />
      </div>
      <div class="flex items-center justify-between">
        <label class="label text-sm">Show active windows</label>
        <input
          type="checkbox"
          [(ngModel)]="windowDisplay"
          class="toggle toggle-sm"
        />
      </div>
    </div>
    <div class="modal-action">
      <button class="btn btn-sm btn-primary" (click)="onConfirm()">Save</button>
      <button class="btn btn-sm" (click)="onCancel()">Cancel</button>
    </div>
  </div>
</div>
