<div class="modal modal-open">
  <div class="modal-box scrollbar-none">
    <h3 class="font-bold text-lg">{{ title }}</h3>
    <div class="py-4 space-y-4 w-full">
      <div class="flex items-center justify-between">
        <label class="label text-sm">Theme</label>
        <select class="select select-sm w-48" [(ngModel)]="theme">
          <option *ngFor="let t of themes" [value]="t">
            {{ t }}
          </option>
          <option *ngFor="let t of themes" [value]="t">
            {{ t }}
          </option>
        </select>
      </div>
      <div class="flex items-center justify-between">
        <label class="label text-sm">Bookmark root folder</label>
        <select
          class="select select-sm w-48"
          [(ngModel)]="bookmarkRootFolderId"
        >
          <option
            *ngFor="let f of bookmarkRootFolders"
            [value]="f.id"
            [ngStyle]="{ 'padding-left': f.depth + 'rem' }"
          >
            {{ f.title }}
          </option>
        </select>
      </div>
      <div class="flex items-center justify-between">
        <label class="label text-sm">Bookmark display column</label>
        <input
          type="number"
          [min]="columnsMin"
          [max]="columnsMax"
          [(ngModel)]="bookmarkDisplayColumn"
          class="input input-sm w-1/10"
        />
      </div>
      <div class="flex items-center justify-between">
        <label class="label text-sm">Bookmark display gap</label>
        <input
          type="number"
          [min]="gapMin"
          [max]="gapMax"
          [(ngModel)]="bookmarkDisplayGap"
          class="input input-sm w-1/10"
        />
      </div>
      <div class="flex items-center justify-between">
        <label class="label text-sm">Bookmark display row height</label>
        <input
          type="number"
          [min]="rowHeightMin"
          [max]="rowHeightMax"
          [(ngModel)]="bookmarkDisplayRowHeight"
          class="input input-sm w-1/10"
        />
      </div>
      <div class="flex items-center justify-between">
        <label class="label text-sm">Open bookmark in new tab</label>
        <input
          type="checkbox"
          [(ngModel)]="bookmarkOpenInNewTab"
          class="toggle toggle-sm"
        />
      </div>
      <div class="flex items-center justify-between mt-4"></div>
      <div class="flex items-center justify-between">
        <label class="label text-sm">Show active tabs</label>
        <input
          type="checkbox"
          [(ngModel)]="activeTabsDisplay"
          class="toggle toggle-sm"
        />
      </div>
    </div>
    <div class="modal-action">
      <button class="btn btn-sm btn-primary" (click)="onConfirm()">Save</button>
      <button class="btn btn-sm" (click)="onCancel()">Cancel</button>
    </div>
  </div>
</div>
