img {
    text-overflow: ellipsis;
    max-width: 100%;
}

.breadcrumb {
    color: #ccc;

    a {
        color: #4fc3f7;

        &:hover {
            text-decoration: underline;
        }
    }

    .is-active span {
        font-weight: bold;
        color: #fff;
    }
}


.bookmark-card {
    display:  block;
}