<div class="px-16 py-8 h-full" (contextmenu)="contextMenu($event)">
  <div class="tabs tabs-lift mb-6" @fadeIn *ngIf="showActiveWindows">
    <ng-container *ngFor="let window of windows">
      <a
        class="tab"
        [class.tab-active]="window.focused"
        [class.indicator]="window.focused"
        [class.ring-2]="isDroppableHover(window)"
        [class.scale-105]="isDroppableHover(window)"
        [class.cursor-pointer]="!draggedSource"
        (click)="click($event, window)"
        (dblclick)="doublClick($event, window)"
        (contextmenu)="contextMenu($event, window)"
        (dragover)="dragOverTarget($event, window)"
        (dragleave)="dragLeaveTarget($event)"
        (drop)="dropTarget($event, window)"
        >{{ window.title
        }}<span class="indicator-item badge" *ngIf="window.focused">{{
          window.tabsCount
        }}</span></a
      >
      <div class="tab-content bg-base-100 border-base-300 p-4">
        <ng-container *ngFor="let tabGroup of window.tabGroups">
          <div
            class="transition-all hover:scale-105 btn btn-dash btn-blue indicator w-35 m-1 hover:bg-[unset]"
            [class]="`text-${tabGroup.color}-300`"
            [class.ring-2]="isDroppableHover(tabGroup)"
            [class.scale-105]="isDroppableHover(tabGroup)"
            [class.cursor-pointer]="!draggedSource"
            (click)="click($event, tabGroup)"
            (contextmenu)="contextMenu($event, tabGroup)"
            (dragstart)="dragSource($event, tabGroup)"
            (dragover)="dragOverTarget($event, tabGroup)"
            (dragleave)="dragLeaveTarget($event)"
            (drop)="dropTarget($event, tabGroup)"
            @shrinkOut
          >
            <span
              class="indicator-item badge badge-xs badge-soft badge-blue-200"
              >{{ tabGroup.tabs?.length }}</span
            >
            <p class="text-xs mt-2 truncate w-full">{{ tabGroup.title }}</p>
          </div>
        </ng-container>
        <ng-container *ngFor="let tab of window.tabs; let last = last">
          <a
            class="transition-all hover:scale-105 btn btn-sm btn-link p-1 no-underline"
            [href]="tab.url"
            (click)="click($event, tab)"
            (contextmenu)="contextMenu($event, tab)"
            (dragstart)="dragSource($event, tab)"
            (dragover)="dragOverTarget($event, tab)"
            (dragleave)="dragLeaveTarget($event)"
            (drop)="dropTarget($event, tab)"
            @shrinkOut
          >
            <p class="text-xs text-base-content/70 mt-2 truncate w-full">
              {{ tab.title | slice: 0 : 20 }}
            </p>
          </a>
          <span *ngIf="!last" class="inline-block align-sub mx-0.5">·</span>
        </ng-container>
      </div>
    </ng-container>
  </div>

  <div class="breadcrumbs text-sm" *ngIf="breadcrumb.length > 1">
    <ul>
      <li *ngFor="let crumb of breadcrumb; let first = first; let last = last">
        <a
          *ngIf="!last"
          class="cursor-pointer"
          [class.ring-2]="isDroppableHover(crumb)"
          (click)="clickCrumb(crumb)"
          (dragover)="dragOverTarget($event, crumb)"
          (dragleave)="dragLeaveTarget($event)"
          (drop)="dropTarget($event, crumb)"
        >
          <span class="inline-block w-4 h-4 mr-1" *ngIf="first">
            <ng-icon name="heroHome" class="w-4 h-4" />
          </span>
          {{ crumb.title }}
        </a>
        <a *ngIf="last" class="font-bold cursor-not-allowed">
          {{ crumb.title }}
        </a>
      </li>
    </ul>
  </div>

  <div
    class="grid gap-4"
    [class]="`grid-cols-${columns}`"
    @fadeIn
    *ngIf="currentFolder"
  >
    <ng-container
      *ngFor="let bookmark of currentFolder.children; trackBy: trackById"
    >
      <a
        class="rounded-2xl shadow hover:shadow-xl hover:scale-101 transition p-4 flex items-center space-x-4 tooltip"
        [class.ring-2]="isDroppableHover(bookmark)"
        [class.scale-105]="isDroppableHover(bookmark)"
        [class.cursor-pointer]="!draggedSource"
        [attr.href]="bookmark.url"
        (click)="click($event, bookmark)"
        (contextmenu)="contextMenu($event, bookmark)"
        (dragstart)="dragSource($event, bookmark)"
        (dragover)="dragOverTarget($event, bookmark)"
        (dragleave)="dragLeaveTarget($event)"
        (drop)="dropTarget($event, bookmark)"
      >
        <div class="tooltip-content" *ngIf="bookmark.title && !draggedSource">
          <div class="text-sm">
            {{ bookmark.title }}
          </div>
        </div>
        <img
          [src]="bookmark.favIconUrl"
          class="w-10 rounded-md mask mask-squircle"
        />
        <span class="truncate max-w-[150px] text-sm font-medium">
          {{ bookmark.title }}
        </span>
      </a>
    </ng-container>
  </div>
</div>
<app-modal-host />
<app-toast-container />
