<div class="modal modal-open">
  <div class="modal-box">
    <h3 class="font-bold text-lg">{{ title }}</h3>
    <div class="py-4 space-y-4 w-full">
      <div class="flex items-center justify-between">
        <label class="label text-sm">Title</label>
        <input
          type="text "
          [(ngModel)]="bookmarkTitle"
          class="input input-sm w-8/10"
        />
      </div>
      <div
        *ngIf="bookmarkType === 'bookmark'"
        class="flex items-center justify-between"
      >
        <label class="label text-sm">URL</label>
        <input
          type="text "
          [(ngModel)]="bookmarkUrl"
          class="input input-sm w-8/10"
        />
      </div>
      <div class="flex items-center justify-between">
        <label class="label text-sm">Folder</label>
        <select class="select select-sm w-8/10" [(ngModel)]="bookmarkParentId">
          <option
            *ngFor="let f of bookmarkFolders"
            [value]="f.id"
            [ngStyle]="{ 'padding-left': f.depth + 'rem' }"
          >
            {{ f.title }}
          </option>
        </select>
      </div>
      <div class="modal-action">
        <button class="btn btn-sm btn-primary" (click)="onConfirm()">
          Save
        </button>
        <button class="btn btn-sm" (click)="onCancel()">Cancel</button>
      </div>
    </div>
  </div>
</div>
