@use 'tailwindcss'  as *;
@plugin "daisyui" {
    themes: all;
}

@source inline('bg-{base,blue,cyan,green,grey,orange,pink,purple,red,yellow}-{100..900..100}');
@source inline('hover:bg-{base,blue,cyan,green,grey,orange,pink,purple,red,yellow}-{100..900..100}');
@source inline('text-{base,blue,cyan,green,grey,orange,pink,purple,red,yellow}-{100..900..100}');
@source inline('badge-{base,blue,cyan,green,grey,orange,pink,purple,red,yellow}-{100..900..100}');

html,body {
    height: 100% !important;
}

* {
    outline: none !important;
}